table,th,td {


    border-top: 1px solid rgb(112,173,71);
    border-collapse:collapse
}
table{
    width:50%;
}
tr{
    border-left: 1px solid rgb(112,173,71);
    border-right: 1px solid rgb(112,173,71);
}
th {
    background-color:rgb(112,173,71);
    color: white;
    
    
}
tr:nth-child(even){
    background-color: white;
    color:black
}
tr:nth-child(odd){
    background-color: rgb(226,239,218);
    color:black
}
tr:last-child{
    background-color: rgb(255,242,204);
    color:black;
    font-size:bold;
    border: 0px;
    
}